<div id="container">
    <div id="main">
        <!-- BEGIN OF TOP -->
        <div id="top_alt">
            <div id="top_area_alt">
                <!-- BEGIN OF LOGO -->
                <div id="logo">
                  <%= link_to("Pixel QReam", controller: 'home')%>
                </div>
                <!-- END OF LOGO -->
                <!-- BEGIN OF MAINMENU -->
                <div id="mainmenu_alt">
                    <ul id="menu2">
                    </ul>
                </div>
                <!-- END OF MAINMENU -->
            </div>
        </div>
        <!-- END OF TOP -->
        <!-- BEGIN OF CONTENT -->
        <div id="content">
              <h1 class="title_page">One Curious QR Code Generator</h1>
              <h2 class="desc_title">Destroy that built in 30% ECC</h2>
              <p class="italic-text">
              QR Codes can correct for damage, why not abuse that feature? Ease of use be damned, generate a code with your
              custom text, then manipulate the pixels as you see fit. Draw 8 bit art, draw your logo, or add CSS styles.
              When you're finished, double check it with your phone to ensure it scans if you try really hard, then render
              it to canvas to save your image.
                
              </p>
            <!-- BEGIN OF SIDEBAR -->
                <div id="sidebar">
                <ul>
                    <li>
                        <h2>Try it out:<h2>
                        <div class="side_box">
                         <form action="code.html">
                           <input type="text" id="qr_content" name="content" value="PixelQReam.com">
                           <button id="qr_generate" value="qr_generate">Generate Pattern</button>
                           <div id="qr_container">
                             
                           </div>
                           <div id="qr_style">
                             Style:
                             <br/>
                             <input type="radio" name="style" id="style_go" label="Game of Go">Game of Go</input><br/>
                             <input type="radio" name="style" id="style_puzzle" label="Crossword Puzzle">Crossword Puzzle</input><br/>
                             <input type="radio" name="style" id="style_shaped" label="Shaped Borders">Shaped Borders</input><br/>
                             <input type="radio" name="style" id="style_jeweled" label="Jeweled">Jeweled</input><br/>
                             <input type="radio" name="style" id="style_boring" label="Boring" checked="true">Boring</input><br/>
                           </div>
                          
                           <div id="qr_colors">
                             Dark Color:
                             <input type="color" name="qr_dark" value="black">

                             Light Color:
                             <input type="color" name="qr_light" value="black">


                          </form>
                         </div>
                    </li>
                </ul>
                </div>
            <!-- END OF SIDEBAR -->
            <div class="clr"></div>
        <!-- END OF CONTENT -->
        <!-- BEGIN OF FOOTER -->
        <div id="footer">
            <div id="footer_area">
              
              <%= link_to("Pixel QReam", controller: 'home')%>
              Copyright &copy; 2011 Matt Garrison.  All rights reserved <!-- copyright text here -->
            </div>
        </div>
        <!-- END OF FOOTER -->
    </div>
    <div id="bottom_ridge"></div>
</div>

