<div id="container">
    <div id="main">
        <!-- BEGIN OF TOP -->
        <div id="top_alt">
            <div id="top_area_alt">
                <!-- BEGIN OF LOGO -->
                <div id="logo">
                  <%= link_to("Pixel QReam", controller: 'home')%>
                </div>
                <!-- END OF LOGO -->
                <!-- BEGIN OF MAINMENU -->
                <div id="mainmenu_alt">
                    <ul id="menu2">
                    </ul>
                </div>
                <!-- END OF MAINMENU -->
            </div>
        </div>
        <!-- END OF TOP -->
        <!-- BEGIN OF CONTENT -->
        <div id="content">
            <div id="content_main">
            <h1 class="title_page">QR Code</h1>
            <h2 class="desc_title">Destroy that built in 30% ECC</h2>
            <p class="italic-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur excepteur sint occaecat cupidatat non proident,sunt in culpa quilo officia deserunt mollit anim id est laborum.</p>
            </div>
            <!-- BEGIN OF SIDEBAR -->
            <div id="content_right">
                <div id="sidebar">
                <ul>
                    <li>
                        <h2>Our address</h2>
                         <div class="side_box">
                            <div id="map"></div>
                            <p>Temporibus autem quibusdam et aut officiis debitis rerum necessitatibus saepe evenietut </p>
                         </div>
                    </li>
                </ul>
                </div>
            </div>
            <!-- END OF SIDEBAR -->
            <div class="clr"></div>
        </div>
        <!-- END OF CONTENT -->
        <!-- BEGIN OF FOOTER -->
        <div id="footer">
            <div id="footer_area">
              
              <%= link_to("Pixel QReam", controller: 'home')%>
              Copyright &copy; 2011 Matt Garrison.  All rights reserved <!-- copyright text here -->
            </div>
        </div>
        <!-- END OF FOOTER -->
    </div>
    <div id="bottom_ridge"></div>
</div>

