<!DOCTYPE html>
<html>
<head>
  <title>PixelQream</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link  href="http://fonts.googleapis.com/css?family=Damion:regular&v1" rel="stylesheet" type="text/css" >
</head>
<body>

<%= yield %>

</body>
</html>
